<!doctype html>
<meta charset=utf-8>
<title>{{{ title }}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

<link rel="stylesheet" type="text/css" href="/css/style.css">

<header role="banner" id="header" class="block">
  <h1 class="logo-wrapper">
    <a href="/" title="Go to Learn JS Bin's homepage" class="logo"><img src="/img/favicon.png"> Learn JS Bin</a>
  </h1>

  <a class="ask-a-question" href="#">Ask a question &rarr;</a>
</header>

<article id="content" role="main" class="block article">
  {{{ html }}}
</article>

<footer class="block footer">
  <p>
    <a href="/">
      &larr; Back to everything</p>
    </a>
</div>