{{ define "main" -}}
<h1 id="jsbinsprivacypolicy">
  <a class="anchor" href="#jsbinsprivacypolicy">
    <span class="permalink"></span>
  </a>JS Bin's Privacy Policy</h1>
<small>Last updated {{ .PublishDate.Format "2-Jan, 2006" }}</small>
<div id="legal">
  <div class="legal">
    <table>
      <tbody>
        <tr>
          <td>
            <p>At JS Bin, we collect and manage user data according to the following Privacy Policy, with the goal of incorporating
              our company values: transparency, accessibility, sanity, usability. This document is part of JS Bin's Terms
              of Service, and by using jsbin.com (the “Website”), you agree to the terms of this Privacy Policy and the Terms
              of Service. Please read the Terms of Service in their entirety, and refer to those for definitions and contacts.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ourwords">
    <p class="mean">In other words,</p>
    <p>This is our privacy document explaining what we do and why. You should also read our
      <a href="/legals">Terms of Service</a>.</p>
  </div>
  <hr>
  <div class="legal">
    <table>
      <tbody>
        <tr>
          <td>
            <h2 id="datacollected">
              <a class="anchor" href="#datacollected">
                <span class="permalink"></span>
              </a>Data Collected</h2>
          </td>
        </tr>
        <tr>
          <td>
            <p>We collect anonymous data from every visitor of the Website to monitor traffic and fix bugs. For example, we
              collect information like web requests, the data sent in response to such requests, the Internet Protocol address,
              the browser type, the browser language, and a timestamp for the request.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>We ask you to log in and provide certain personal information (such as your name and email address) in order
              to be able to save your settings and the Bins associated with it. In order to enable these or any other login
              based features, we use cookies to store session information for your convenience. You can block or delete cookies
              and still be able to use JS Bin, although if you do you will then be asked for your username and password every
              time you log in to the Website. In order to take advantage of certain features of the Website, you may also
              choose to provide us with other personal information, such as your picture, but your decision to utilise these
              features and provide such data will always be voluntary.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ourwords">
    <p class="mean">In other words,</p>
    <p>Data we're collecting helps us keep the site running and fix bugs. If you want to create an account, or go Pro, we'll
      need a few personal bits of information to make it work.</p>
  </div>
  <div class="legal">
    <table>
      <tbody>
        <tr>
          <td>
            <p>You are able to view, change and remove your data associated with your profile. Should you choose to delete your
              account, please contact us at jsbin@leftlogic.com and we will follow up with such request as soon as possible.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ourwords">
    <p class="mean">In other words,</p>
    <p>If you want to delete your account, get in touch and we'll completely remove your account and associated Bins.</p>
  </div>
  <div class="legal">
    <table>
      <tbody>
        <tr>
          <td>
            <p>Minors and children should not use JS Bin without consent and supervision of an adult. By using the Website,
              you represent that you have the legal capacity to enter into a binding agreement.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ourwords">
    <p class="mean">In other words,</p>
    <p>Because
      <em>anything</em> can be posted on JS Bin, minors and children must be supervised by an adult when using JS Bin.</p>
  </div>
  <hr>
  <div class="legal">
    <table>
      <tbody>
        <tr>
          <td>
            <h2 id="useofthedata">
              <a class="anchor" href="#useofthedata">
                <span class="permalink"></span>
              </a>Use of the Data</h2>
          </td>
        </tr>
        <tr>
          <td>
            <p>We only use your personal information to provide you the JS Bin services or to communicate with you about the
              services or the Website.</p>
            <p>We employ industry standard techniques to protect against unauthorised access of data about you that we store,
              including personal information.</p>
            <p>We do not share personal information you have provided to us without your consent, unless:</p>
            <ul>
              <li>doing so is appropriate to carry out your own request;</li>
              <li>we believe it's needed to enforce our Terms of Service, or that is legally required;</li>
              <li>we believe it's needed to detect, prevent or address fraud, security or technical issues;</li>
              <li>otherwise protect our property, legal rights, or that of others.</li>
            </ul>
            <p>JS Bin is operated from the United Kingdom. If you are visiting the Website from outside the UK, you agree to
              any processing of any personal information you provide us according to this policy.</p>
            <p>JS Bin may contact you, by email or other means. For example, JS Bin may send you promotional emails relating
              to JS Bin or other third parties JS Bin feels you would be interested in, or communicate with you about your
              use of the JS Bin website. You can modify your email notification preferences by clicking the appropriate link
              included in the footer of email notifications. If you do not want to receive email from JS Bin, please opt
              out of receiving emails at the bottom of any JS Bin emails or by editing your profile preferences.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ourwords">
    <p class="mean">In other words,</p>
    <p>We'll keep your personal information safe and won't share anything unless required to by law.</p>
    <p>We
      <em>may</em> contact you by email, but you can opt out of this at any time via your profile preferences.</p>
  </div>
  <hr>
  <div class="legal">
    <table>
      <tbody>
        <tr>
          <td>
            <h2 id="sharingofdata">
              <a class="anchor" href="#sharingofdata">
                <span class="permalink"></span>
              </a>Sharing of Data</h2>
          </td>
        </tr>
        <tr>
          <td>
            <p>We don't share your personal information with third parties. Only aggregated, anonymised data is periodically
              transmitted to external services to help us improve the JS Bin Website and service. We currently use Google
              Analytics (traffic analysis, SEO optimisation) and Librato (metrics). We listed below what data these third
              parties extract exactly. Feel free to check out their own Privacy Policies to find out more.</p>
            <ul>
              <li>Google Analytics: anonymous (ad serving domains, browser type, demographics, language settings, page views,
                time/date), pseudonymous (IP address)</li>
              <li>Librato: numbers of types of requests and time taken to complete transactions</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            <we>employ and contract with people and other entities that perform certain tasks on our behalf and who are under
              our control (our “Agents”). We may need to share personal information with our Agents in order to provide products
              or services to you. Unless we tell you differently, our Agents do not have any right to use Personal Information
              or other information we share with them beyond what is necessary to assist us. You hereby consent to our sharing
              of Personal Information with our Agents.</we>
          </td>
        </tr>
        <tr>
          <td>
            <p>We may choose to buy or sell assets. In these types of transactions, user information is typically one of the
              transferred business assets. Moreover, if we, or substantially all of our assets, were acquired, or if we go
              out of business or enter bankruptcy, user information would be one of the assets that is transferred or acquired
              by a third party. You acknowledge that such transfers may occur, and that any acquirer of us or our assets
              may continue to use your personal information as set forth in this policy. If you have a registered account,
              we will strive to allow you to download your complete history of Bins as HTML files.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ourwords">
    <p class="mean">In other words,</p>
    <p>We use Google Analytics and Librato to collect anonymous data (like browser type and timing metrics) to help make the
      site better.</p>
    <p>If we are acquired (or substantially so), your privacy is protected by this policy. We are also working on the ability
      to download a complete zip file of all your bins (for free logged in users) so you can backup your own content irrespective
      of what happens to JS Bin.</p>
  </div>
  <hr>
  <div class="legal">
    <table>
      <tbody>
        <tr>
          <td>
            <h2 id="changestotheprivacypolicy">
              <a class="anchor" href="#changestotheprivacypolicy">
                <span class="permalink"></span>
              </a>Changes to the Privacy Policy</h2>
          </td>
        </tr>
        <tr>
          <td>
            <p>We may amend this Privacy Policy from time to time. Use of information we collect now is subject to the Privacy
              Policy in effect at the time such information is used. If we make major changes in the way we collect or use
              information, we will notify you by posting an announcement on the Website or sending you an email. In any case,
              you can
              <a href="https://github.com/jsbin/learn/commits/">track all changes</a> our repo. A user is bound by any changes to the Privacy Policy when they use the Services
              after such changes have been first posted.</p>
            <p>Should you have any question or concern, please write to jsbin@leftlogic.com.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ourwords">
    <p class="mean">In other words,</p>
    <p>This privacy policy may change over time, and we'll notify of anything significant. Either way you can track it's
      <a
        href="https://github.com/jsbin/learn/commits/">complete history</a> in our open source repo.</p>
  </div>
</div>
{{ end }}
