{{ define "main" -}}
{{ if eq $.Section "blog" }}
<a class="subscribe" href="/feed.xml">Subscribe</a>
{{ else }}
<a class="edit" href="https://github.com/jsbin/learn/blob/master/public/{{ $.Path }}">Edit on github</a>
{{end}}

{{ if .Params.Author }} {{ partial "author.html" . }} {{ end }}

<h1>{{ replace .Title "* " "" }}</h1>

{{ .Content }}

<div class="show-your-love">
  <h2>❤️ Love JS Bin?</h2>
  <p><a href="https://opencollective.com/jsbin/contribute">Support this open source project today</a>, and help it
    continue to run for <em>another</em> decade 🎂</p>
</div>

{{ if .Site.DisqusShortname -}}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{- end }}
{{- end }}
