h1 Help

for category in categories
  div(class="category #{category.name}")
    h2 #{category.title}
    h4 #{category.description}
    != partial('../_partials/help-posts', { filter: category.name })