h2 Help

pre.
  #{ JSON.stringify(current, false, ' ') }

pre.
  #{ JSON.stringify(public, false, ' ') }


ul.links
  for post, slug in public.help._data
    if (post.title)
      li: a(href="/help/#{ slug }")= post.title