a.issue(href="http://github.com/jsbin/jsbin/issues/new") Problem? Feedback? Let us know!

for category in categories
  div(class="category #{category.name}")
    h2 #{category.title}
    h4 #{category.description}
    != partial('../_partials/help-posts', { filter: category.name })