- function sortByTitle(data) {
-   return Object.keys(data).map(function (slug) {
-     data[slug].slug = slug;
-     return data[slug];
-   }).filter(function (post) { return !!post.title; }).sort(function (a, b) {
-     return a.title.toLowerCase() < b.title.toLowerCase() ? -1 : 1;
-   });
- }

block
  - var f = filter || current.path.slice(-2, -1)[0];
  ul.links
    for post in sortByTitle(public.help._data)
      if (post.category === f || !f)
        li: a(href="/help/#{ post.slug }")= post.title
          if (post.video)
            a.play(href="#{post.video}"): span Play video