doctype
html
  head
    meta(charset='utf-8')
    title #{title}
    meta(name='viewport', content='width=device-width')
    link(rel='icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/github.css')
    != partial('/js/moment')
    block head
  body
    #container
      header
        .inner
          a#back(href='#{jsbin}/') Back&nbsp;
            span.morewords to JS Bin
          nav
            block link
            -var selected = '/' + current.path.join('/'); //default
            -var menu = { 'Account': jsbin + '/account', 'Blog': '/blog', 'Help': '/help' };

            each val, key in menu
              if selected.indexOf(val) === 0
                a.selected(href=val)= key
              else
                a(href=val)= key
      #body
        block content
      .clear
    footer#footer
      .inner
        ul.notable
          //- li
          //-   a(href='/supporters') Supporters
          li
            a(href='/about') About
          li
            a(href='http://github.com/jsbin') Github
          li
            a(href='http://twitter.com/js_bin') Twitter
          li
            a(href='http://jsbin.com/videos') YouTube
        ul.legal
          li
            a(href='/legals') Legals
  script(src='/js/highlight.pack.js')
  script.
    hljs.initHighlightingOnLoad();