extends ../_partials/layout

block content
  a.subscribe(href="/blog/feed.xml") Subscribe

  if locals.author
    include ../_partials/author

  != yield

  if current.path[0] == 'blog' && current.path[1] != 'index'
    div
      h2 Show your support
      p You should support JS Bin and upgrade to JS Bin Pro <a href="/upgrade">here</a> <span class="love">&hearts;</span>️
    - var timestamp = new Date(date + ' 00:00:00').getTime();
    script.
      var timestamp = #{timestamp};
    script(src='#{static}/js/blog.js')
    #comments
      h2 Comments
      - var permalink = current.source
      include ../blog/_comments
