extends ../_partials/layout

block content
  a.subscribe(href="/blog/feed.xml") Subscribe

  if locals.author
    include ../_partials/author

  != yield

  if current.path[0] == 'blog' && current.path[1] != 'index'
    - var timestamp = new Date(date + ' 00:00:00').getTime();
    script.
      var timestamp = #{timestamp};
    script(src='#{static}/js/blog.js')
    #comments
      h2 Comments
      != partial('_comments')
