extends ../_partials/layout

block content
  a.subscribe(href="/blog/feed.xml") Subscribe

  if locals.author
    include ../_partials/author

  != yield

  if current.path[0] == 'blog' && current.path[1] != 'index'
    #comments
      h2 Comments
      != partial('_comments')
