h1 The JS Bin Blog

a.subscribe(href="/blog/feed.xml") Subscribe

ul.posts
  for post, slug in public.blog._data
    if (post.title)
      li
        span.date= moment(post.date, 'YYYY-MM-DD').format('D-MMM, YYYY')
        a(href="/blog/#{ slug }")= post.title