- function eachPost(data) { return Object.keys(data).map(function (slug) { var post = data[slug]; post.slug = slug; return post }).sort(byDate) }
- function byDate(a, b) { return moment(b.date).unix() - moment(a.date).unix() }

h1 The JS Bin Blog

ul.posts
  for post in eachPost(public.blog._data)
    if (post.title && partial(post.slug))
      li
        span.date= moment(post.date, 'YYYY-MM-DD').format('D-MMM, YYYY')
        a(href="/blog/#{ post.slug }")= post.title
        p.extract
          != partial(post.slug).split('<p>')[1].replace(/<\/p>/, '')
          a(href="/blog/#{ post.slug }") Read post
