{{ define "main" -}}

<h1>The page you were looking for doesn't exist...yet?</h1>

<p>The JS Bin learn site is all available on <a href="https://github.com/jsbin/learn">github</a>, so it's possible you were after a page that doesn't exist <em>yet</em>, so if you're feeling brave, we'd love for you to go ahead and send us a pull request for the page you were looking for.</p>
<p>If you had a specific question that wasn't answered, or indeed this is a bug (and you expected to find a specific page), please do take a minute to <a href="https://github.com/jsbin/learn/issues/new">file an issue</a> to help us help you.</p>
<p>Otherwise, Dave says &quot;Hi&quot;!</p>

<p><a class="jsbin-embed" href="http://jsbin.com/AZEy/8/embed?css,output&amp;height=500px">I am Dave</a>
<script src="http://static.jsbin.com/js/embed.js"></script></p>
{{- end }}
